
/* IMAGE */
.logo-image {
  padding-top: 15px;
  width: 100px;
  height: auto;
}

.content-image {
  padding-top: 10px;
  width: 250px;
  height: 250px;
}

/* TEXT */
.text-header {
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

.text-margin-bottom {
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

/* BORDER LINE */
.border-line {
  height: 4px;
  background-color: #7d97ad;
}

/* URL */
.url {
  color: #2d3c49;
  text-align: center;
}

/* FOOTER SOCIAL ICONS */
.footer-social-icons {
  padding: 1em;
  margin-right: 0.2em;
}
